.container {
    width: 900px;
    max-width: 900px;
    height: 600px;
    max-height: 700px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.title {
    height: 50px;
    padding: 12px;
}